<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piotrek.voicerecording" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        <activity
            android:name=".MediaPlayerPackage.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WavePackage.WaveActivity"
            android:exported="true"
            android:label="@string/title_activity_wave"
            android:theme="@style/ActionBarNoTitle"
            android:screenOrientation="portrait" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".SettingsActivityPackage.SettingsActivity" -->
        <!-- android:label="@string/title_activity_settings" -->
        <!-- android:exported="true" -->
        <!-- > -->


        <!-- </activity> -->
        <activity
            android:name=".SettingsActivityPackage.SecondSettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings2"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity">
        </activity>
    </application>

</manifest>
